[submodule "fib-addon"]
	path = fib-addon
	url = https://github.com/fibjs/fib-addon.git
[submodule "vender/sentencepiece"]
	path = vender/sentencepiece
	url = https://github.com/google/sentencepiece.git
[submodule "vender/json"]
	path = vender/json
	url = https://github.com/nlohmann/json.git
[submodule "vender/cpp-tiktoken"]
	path = vender/cpp-tiktoken
	url = https://github.com/gh-markt/cpp-tiktoken.git
